.tarjetaCarta{
    display: flex;
    width: 650px;
    height: 450px;
    background-image: url(https://images5.alphacoders.com/112/1129707.png);
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 10%;
    box-shadow: 0 15px 15px #000000;

}

.imgTarjetaPadre{
    display: flex;
    align-items: center;
    height: 100%;
}

.imgTarjeta{
    width: 300px;
    height: 400px;
    margin-left: 20px;
    border-radius: 10%;
    box-shadow: 0 15px 15px #000000;
}

.textoTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.textoTarjeta h1, .textoTarjeta h3{
    color: #dfc15e;
    font-size: 35px;
}

.textoTarjeta p{
    color: aliceblue;
    font-size: 25px;
}