.descripcionInicioPadre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.descripcionInicio{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    position: absolute;
    margin-top: 250px;
    margin-right: 600px;
}

.descripcionInicio h1{
    display: flex;
    background-image: linear-gradient(to left, #0499c2, #071e54);
    height: 60px;
    align-items: center;
    margin-bottom: 45px;
    box-shadow: 0 15px 15px #000000;
}

.descripcionInicio h2{
    margin-top: -27px;
    text-shadow: 4px 4px 8px #000000;
}

.imgInicioPadre{
    padding-top: 50px;
    margin-left: 400px;

}

.imgInicio{
        width: 700px;
        border-radius: 10%;
        box-shadow: 0 15px 15px #000000;
        
}