*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav{
    display: flex;
    background: #1f1c1c;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 20px 30px;
}

.nav a{
    color: inherit;
    text-decoration: none;
}

.bar-bootcamp{
    font-size: 50px;
}

.nav ul{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;

}

.nav li.active{
    color: #026c8a;
    font-weight: bold;
}

.nav li:hover{
    color: #009737;
    transform: scale(1.1);
    transition: 0.1s;

}